<div class="row">
    <div id="breadcrumbs-wrapper" data-image="https://crm.thontrang.com/app-assets/images/gallery/breadcrumb-bg.jpg"
        style="color: #ffffff; background: rgb(40,70,99); background: linear-gradient(90deg, rgba(40,70,99,1) 0%, rgba(62,110,159,1) 35%, rgba(106,179,245,1) 100%);">
        <!-- Search for small screen-->
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h5 class="breadcrumbs-title mt-0 mb-0" style="color: #ffffff;">Phiếu xuất hàng <span
                            *ngIf="warehouseExportService.list">({{warehouseExportService.list.length}} items)</span></h5>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item"><a href="#" style="color: #ffffff;">CRM</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#" style="color: #ffffff;">Phiếu kho</a>
                        </li>
                        <li class="breadcrumb-item active" style="color: #ffffff;">Phiếu xuất hàng
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="container">
            <div class="section section-data-tables">
                <div class="card">
                    <div class="card-content">
                        <div class="col s6 m6 l3">
                            <mat-select style="padding-top:10px; padding-bottom:16px; border-bottom-color: #000000; border-bottom-width: 1px; border-bottom-style: solid;" name="ParentID"
                                class="browser-default" [(ngModel)]="companyID">
                                <mat-option *ngFor="let item of companyService.list" [value]="item.ID">
                                    {{item.Display}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="col s6 m6 l2">
                            <mat-select style="padding-top:10px; padding-bottom:16px; border-bottom-color: #000000; border-bottom-width: 1px; border-bottom-style: solid;" name="ParentID"
                                class="browser-default" [(ngModel)]="year">
                                <mat-option *ngFor="let item of downloadService.listYear" [value]="item.ID">
                                    {{item.Display}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="col s6 m6 l2">
                            <mat-select style="padding-top:10px; padding-bottom:16px; border-bottom-color: #000000; border-bottom-width: 1px; border-bottom-style: solid;" name="ParentID"
                                class="browser-default" [(ngModel)]="month">
                                <mat-option *ngFor="let item of downloadService.listMonth" [value]="item.ID">
                                    {{item.Display}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="col s6 m6 l3">
                            <input matInput [(ngModel)]="searchString" placeholder="Tìm ..."
                                class="mat-input-element mat-form-field-autofill-control" autocomplete="off">
                        </div>
                        <div class="col s6 m6 l2">
                            <a title="Tìm" (click)="onSearch()"
                                class="mb-6 btn-floating waves-effect waves-light green darken-1"><i
                                    class="material-icons">search</i></a>&nbsp;&nbsp;&nbsp;
                            <a title="Thêm mới" target="_blank" href="{{URLSub}}/0"
                                class="mb-6 btn-floating waves-effect waves-light green darken-1"><i
                                    class="material-icons">add</i></a>&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="KhungOverflow">
                            <mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="ID">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <div>
                                            {{element.ID}}
                                        </div>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="DateFounded">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Ngày lập
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <div>
                                            {{element.DateFounded | date: 'yyyy-MM-dd'}}
                                        </div>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Code">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Code
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <b>
                                            {{element.Code}}
                                        </b>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="UserFoundedDisplay">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Người lập
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.UserFoundedDisplay}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="CustomerDisplay">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Đại lý
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <div>
                                            {{element.CustomerDisplay}}
                                        </div>
                                    </mat-cell>
                                </ng-container>         
                                <ng-container matColumnDef="TotalFinal">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Thành tiền
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" style="justify-content: right; padding-right: 10px;">
                                        <div>
                                            {{element.TotalFinal | number: '1.0-0'}}
                                        </div>
                                    </mat-cell>
                                </ng-container>                
                                <ng-container matColumnDef="TotalPay">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Thanh toán
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" style="justify-content: right; padding-right: 10px; color: green;">
                                        <div>
                                            {{element.TotalPay | number: '1.0-0'}}
                                        </div>
                                    </mat-cell>
                                </ng-container>       
                                <ng-container matColumnDef="TotalDebt">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Công nợ
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" style="justify-content: right; padding-right: 10px; color: red;">
                                        <div>
                                            {{element.TotalDebt | number: '1.0-0'}}
                                        </div>
                                    </mat-cell>
                                </ng-container>                
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <div style="padding-top: 5px; width: 100%; text-align: center;">
                                            <a title="Chi tiết" target="_blank" href="{{URLSub}}/{{element.ID}}"
                                                class="mb-6 btn-floating waves-effect waves-light green darken-1"><i
                                                    class="material-icons">info</i></a>
                                        </div>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="loading">
                                    <mat-footer-cell *matFooterCellDef colspan="4">
                                        Đang tải dữ liệu...
                                    </mat-footer-cell>
                                </ng-container>
                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="4">
                                        Chưa có dữ liệu.
                                    </mat-footer-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
                                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}">
                                </mat-footer-row>
                                <mat-footer-row *matFooterRowDef="['noData']"
                                    [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}">
                                </mat-footer-row>
                            </mat-table>
                            <!-- <mat-paginator [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]>
                            </mat-paginator> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="isShowLoading"></app-loading>