<div class="row">
    <div id="breadcrumbs-wrapper" data-image="https://crm.thontrang.com/app-assets/images/gallery/breadcrumb-bg.jpg"
        style="color: #ffffff; background: rgb(40,70,99); background: linear-gradient(90deg, rgba(40,70,99,1) 0%, rgba(62,110,159,1) 35%, rgba(106,179,245,1) 100%);">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h5 class="breadcrumbs-title mt-0 mb-0" style="color: #ffffff;">Đổi mặt khẩu</h5>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item"><a href="#" style="color: #ffffff;">CRM</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#" style="color: #ffffff;">Phân quyền</a>
                        </li>
                        <li class="breadcrumb-item active" style="color: #ffffff;">Đổi mặt khẩu
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div id="input-fields" class="card card-tabs">
            <form autocomplete="off" class="row" #form="ngForm" (submit)="onSubmit(form)">
                <div class="card-content">
                    <div class="card-title">
                        <div class="row">
                            <div class="col s6 m6 l9">
                                <h3 class="card-title">Thành viên:
                                    <b>{{membershipService.formData.Name}}</b>
                                </h3>
                            </div>
                            <div class="col s4 m4 l3">                               
                                <button title="Lưu thay đổi" type="submit" style="padding-top: 3px;"
                                    class="mb-6 btn-floating waves-effect waves-light cyan"><i
                                        class="material-icons">save</i></button>
                            </div>
                        </div>
                    </div>
                    <div id="ItemInfo">
                        <input name="ID" [(ngModel)]="membershipService.formData.ID" type="hidden">                        
                        <div class="row">
                            <div class="col s12 m12 l6">
                                <div class="col s6 m6 l4">
                                    <div class="input-field">
                                        <label for="Name">Thành viên</label>
                                    </div>
                                </div>
                                <div class="col s6 m6 l8">
                                    <div class="input-field">
                                        <input placeholder="Thành viên" name="Name"
                                            [(ngModel)]="membershipService.formData.Name" type="text">
                                    </div>
                                </div>
                                <div class="col s6 m6 l4">
                                    <div class="input-field">
                                        <label for="Display">Hiển thị</label>
                                    </div>
                                </div>
                                <div class="col s6 m6 l8">
                                    <div class="input-field">
                                        <input placeholder="Hiển thị" name="Display"
                                            [(ngModel)]="membershipService.formData.Display" type="text">
                                    </div>
                                </div>
                                <div class="col s6 m6 l4">
                                    <div class="input-field">
                                        <label for="Phone">Điện thoại</label>
                                    </div>
                                </div>
                                <div class="col s6 m6 l8">
                                    <div class="input-field">
                                        <input placeholder="Điện thoại" name="Phone"
                                            [(ngModel)]="membershipService.formData.Phone" type="text">
                                    </div>
                                </div>
                                <div class="col s6 m6 l4">
                                    <div class="input-field">
                                        <label for="Email">Email</label>
                                    </div>
                                </div>
                                <div class="col s6 m6 l8">
                                    <div class="input-field">
                                        <input placeholder="Email" name="Email"
                                            [(ngModel)]="membershipService.formData.Email" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m12 l6">
                                <div class="col s6 m6 l4">
                                    <div class="input-field">
                                        <label for="Account">Tài khoản</label>
                                    </div>
                                </div>
                                <div class="col s6 m6 l8">
                                    <div class="input-field">
                                        <input placeholder="Tài khoản" name="Account"
                                            [(ngModel)]="membershipService.formData.Account" type="text">
                                    </div>
                                </div>
                                <div class="col s6 m6 l4">
                                    <div class="input-field">
                                        <label for="Password">Mật khẩu</label>
                                    </div>
                                </div>
                                <div class="col s6 m6 l8">
                                    <div class="input-field">
                                        <input placeholder="Mật khẩu" name="Password"
                                            [(ngModel)]="membershipService.formData.Password" type="password">
                                    </div>
                                </div>
                                <div class="col s12 m12 l12">
                                    <div class="input-field">
                                        <p>
                                            <label>
                                                <input type="checkbox" class="filled-in" name="Active"
                                                    [(ngModel)]="membershipService.formData.Active" />
                                                <span>Kích hoạt</span>
                                            </label>
                                        </p>
                                    </div>
                                </div>                                
                            </div>                           
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<app-loading *ngIf="isShowLoading"></app-loading>